@use '../../styles/breakpoints' as bp;

.page {
  padding: 2rem;
  color: var(--text-color);
}

.controls {
  margin-bottom: 2rem;

  label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }

  input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    max-width: 200px;

    background: var(--card-bg);
    border: 1px solid var(--accent);
    color: var(--text-color);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Tablet */
@media (min-width: bp.$tablet) {
  .list {
    gap: 1.5rem;
  }
}