.toggle {
  background: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.8rem;

  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Mobil */
.toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}