.nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 1.5rem 0;
}

/* Links */
.nav a {
  text-decoration: none;
  color: var(--text);
  opacity: 0.6;
  position: relative;
  transition: 0.2s ease;
}

/* Hover */
.nav a:hover {
  opacity: 1;
}

/* Active link */
.nav a.active {
  opacity: 1;
  transform: translateY(-8px);
  border-bottom: 2px solid var(--accent);
  padding-bottom: 0.3rem;
}

@media (max-width: 1100px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  /* Fjern hævning på mobil */
  .nav a:nth-child(2) {
    transform: none;
  }

  .nav a {
    width: 80%;
    text-align: center;
  }
}